<div class="container-fluid index">

  <section class="banner">
    <div class="row">
      <div class="col-xs-12">

        <div class="brand">
          Lion
        </div>

        <div class="summary">
          Building Ambitious<br>
          Web Applications
        </div>

        <div class="cta">
          {{#link-to "why" class="btn btn-default"}}
            Why Lion ?
          {{/link-to}}
        </div>
      </div>
    </div>
  </section>

  <section class="intro">
    <div class="logo"></div>
    <div class="row">
      <div class="col-xs-12">
        We pride ourselves developing complex, data-driven web and mobile applications that have a strong return on investment
      </div>
    </div>
  </section>

  <section class="why">
    <div class="row">
      <div class="col-xs-12">
        <h2>Why use Lion?</h2>
        <p>We have a set of development techniques honed over 30 years in the video games industry and 10 years experience in web development that will bring an app in with better features at a lower total cost.</p>
      </div>
    </div>
  </section>

  <section class="blog">
    <div class="row">
      <div class="col-xs-12">
        <h2>Development techniques</h2>
        <p>We love programming!</p>
        <p>We love researching and keeping up to date with web development technologies. We are early adopters of new techniques, especially when these provide productivity improvements.</p>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="row">
      <div class="col-xs-12">
        <h2>Team players</h2>
        <p>Our team has honed its experience, collectively, in over 30 years in the video games industry. The tight development timelines, adherence to challenging budgets and an aboslute commitment to user-centric design have created a set of disciplines that work well in driving modern web-based applications.</p>
        <h3>Our team leads</h3>
        <div class="row">
          <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-2 col-xs-12 col-md-5 col-lg-4">
            Kyle Nathan
          </div>
          <div class="col-xs-12 col-md-5 col-lg-4">
            Peter Laughton
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
