/*
 * Default variables for Lion
 */

/*
 * Colours
 */
$roaring-red: #db434e;
$roaring-red-darker: #a8333c;
$night-red: #5b1c21;
$hyena-brown: #5b373a;
$pink-flamingo: #e1888f;

$white-lion: #f3f3f3;
$white-lion-faded: #c3c3c3;
$black-lion: #777;

/*
 * Typography
 */
$font-family-sans-serif: proxima-nova-1, proxima-nova-2, proxima-nova, Arial, sans-serif;
$text-color: $black-lion;
$font-size-base: 16px;
$font-size-h2: floor(($font-size-base * 2.5));
$font-size-h3: floor(($font-size-base * 1.5));

/*
 * Components
 */
$border-radius-small: 1px;
$border-radius-base: 2px;

/*
 * Layout
 */
$grid-gutter-width: 0;

/*
 * Navbar
 */
$navbar-border-radius: 0;
$nav-link-hover-bg: transparent;
$navbar-height: 50px;
$link-hover-decoration: none;
$link-color: $black-lion;

/*
 * Buttons
 */
$btn-default-border: $roaring-red;
$btn-default-color: $roaring-red;
