<div class="container-fluid footer">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <nav class="navbar navbar-footer">
          <ul class="nav">
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            <li>{{#link-to 'jobs'}}Jobs{{/link-to}}</li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-4">
        21a St Leonards Road<br>
        Windsor<br>
        SL4 2AH<br>
        <br>
        Drop by for a cup of coffee!
      </div>
      <div class="col-xs-12 col-sm-4">
        hello@wearelion.com<br>
        +44 (0) 1753 622 331<br>
        LinkedIn<br>
        GitHub<br>
        Stack Overflow<br>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <br>
        <br>
        &copy; Lion Enterprises Ltd
      </div>
    </div>

  </div>

</div>
