<div class="container-fluid jobs">

  <section class="banner">
    <div class="row">
      <div class="col-xs-12">

        <div class="brand">
          Lion
        </div>

        <div class="summary">
          Building Ambitious<br>
          Web Applications
        </div>

        <div class="cta">
          {{#link-to "why" class="btn btn-default"}}
            Why Lion ?
          {{/link-to}}
        </div>
      </div>
    </div>
  </section>

  <section class="intro">
    <div class="logo"></div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Current open roles</h2>
        We have the following roles open (click to download the job spec):
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h5>
          <a href="/downloads/cv-web-developer.pdf" target="_blank">
            Junior Web Developer<br>
            <i>Posted 10 April 2016</i>
          </a>
        </h5>
      </div>
    </div>
  </section>

  <section class="dos-and-donts">
    <div class="row">
      <div class="col-xs-6">
        <div class="donts">
          <h3>We don't</h3>
          <ul>
            <li>Have a gym</li>
            <li>Have an in-house Japanese chef</li>
            <li>Waste money on fancy desks</li>
            <li>Have a games room</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dos">
          <h3>We do</h3>
          <ul>
            <li>Have a sophisticated development environment</li>
            <li>Pop out for the best coffee in UK</li>
            <li>Have a remote controlled kettle</li>
            <li>Expect you to work on complex apps</li>
            <li>Encourage contribution to open source</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="apply">
    <div class="row">
      <div class="col-xs-12">
        <h2>Apply</h2>
        <p>Interested in joining the team?</p>
        <p>Mail your cv to jobs@wearelion.com.</p>
      </div>
    </div>
  </section>

</div>
