.why {

  .banner {
    background: $roaring-red url("../images/red-tile-pattern.png") repeat center top;
    color: $white-lion;

    .brand {
      padding-top: 30px;
      font-size: 52px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    .summary {
      padding: 40px 20%;
      font-size: 60px;
      line-height: 100px;
      font-weight: 100;
      text-align: center;
    }
  }

  .technology {
    background: $hyena-brown;
    color: $white-lion;
    display: flex;

    .tech-box {
      margin: 40px 5px;
      padding: 20px;
      border: 2px solid white;
      border-radius: 3px;
      height: 100%;

      p {
        text-align: left;
      }
    }
  }

  .intro {

    .logo {
      background: url("../images/lion-logo.svg") no-repeat center top;
      top: -45px;
      display: block;
      height: 101px;
      margin-left: -44px;
      left: 50%;
      position: absolute;
      width: 88px;
    }
  }

  .values {
    ol {
      margin-top: 50px;
      text-align: left;
    }
  }

}
